//$material-icons-font-path: '~material-icons/iconfont/';
//@import '~material-icons/iconfont/material-icons.scss';

@import "~bulma/sass/utilities/_all";


$link: #FF614B;
$link-light: #fde5e2;
$primary-light: #DDEDEC;
$success-light: #7C9C9A;
$success-dark:#13473C;



// Font
$family-primary: 'Source Sans Pro', sans-serif;

$weight-light:200;	
$weight-normal:300;	
$weight-medium:500;	
$weight-semibold:700;	
$weight-bold: 800;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$colors: mergeColorMaps(
                (
                        "white": (
                                $white,
                                $black,
                        ),
                        "black": (
                                $black,
                                $white,
                        ),
                        "light": (
                                $light,
                                $light-invert,
                        ),
                        "dark": (
                                $dark,
                                $dark-invert,
                        ),
                        "primary": (
                                $primary,
                                $primary-invert,
                                $primary-light,
                                $primary-dark,
                        ),
                        "link": (
                                $link,
                                $link-invert,
                                $link-light,
                                $link-dark,
                        ),
                        "info": (
                                $info,
                                $info-invert,
                                $info-light,
                                $info-dark,
                        ),
                        "success": (
                                $success,
                                $success-invert,
                                $success-light,
                                $success-dark,
                        ),
                        "warning": (
                                $warning,
                                $warning-invert,
                                $warning-light,
                                $warning-dark,
                        ),
                        "danger": (
                                $danger,
                                $danger-invert,
                                $danger-light,
                                $danger-dark,
                        ),
                ),
                $custom-colors
);

@import "~bulma";
@import "~buefy/src/scss/buefy";

.table__wrapper{
        overflow-x: auto;
}

.content table td, .content table th {
    vertical-align: middle;
}
th{
        line-height: initial;
}

//CSS 
@import "style/login.scss";
@import "style/dashboard.scss"; 


@media only screen and (max-width: 600px) {
        .columns-pet {
          padding:12px !important;
          .column{
                .card{
                        .card-content{
                                padding-left: 0.75rem !important;
                                padding-right: 0.75rem !important;
                        }
                }
          }
        }
 }